body {
      background-color: #cccccc;
      padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


a.navbar-brand {}


.fa {
    margin: 5px;
  }

.fa-facebook-square {
  color: #ffffff;
}

.fa-vk {
  color: #ffffff;
}

.fa-instagram {
  color: #ffffff;
}
