body {
      background-color: #cccccc;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}




.main {

  background-color: white;
}

.logo {
        padding-top: 3px;
        font-size: 1.7em;
        font-family: 'Didact Gothic', verdana;
            }


a.navbar-brand {}


/* overlay for better readibility of the caption  */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    transition: all 0.2s ease-out;
}

.carousel-caption {
  margin-bottom: 100px;
}

.marketing  {
    margin-top: 50px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  text-align: justify;
}

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

#map {
        height: 400px;
        width: 100%;
       }

.fa {
    margin: 5px;
  }

.fa-facebook-square {
  color: #ffffff;
}

.fa-vk {
  color: #ffffff;
}

.fa-instagram {
  color: #ffffff;
}
